{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Pagina contable</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="/inicio_sesion/" method="post">
                {% csrf_token %}
                <h1>Sign-In</h1>
                <span>User your username and password</span>
                    {{ form.username }}
                    {{ form.password }}
                <button type="submit">Sign in</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right" >
                    <h1>Welcome</h1>
                    <a href="/registro/">
                        <button class="hidden">Sign-Up</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
