{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Pagina contable</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form action="/registro/" method="post">
                {% csrf_token %}
                <h1>Create User</h1>
                {{ form.non_field_errors }}
                    {{ form.username.errors }}
                    {{ form.username }}
                    {{ form.name.errors }}
                    {{ form.name }}
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                    {{ form.email.errors }}
                    {{ form.email }}
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome</h1>
                    <a href="/">
                        <button class="hidden">Sign-in</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>